.Onboard {
  background-color:  #82ca9c;
  padding: 120px 0 160px 0;
}

.Onboard .Title,
.Onboard .Text {
  color: #FFF;
}

.Onboard .Text {
  padding-bottom: 15px;
}

.Onboard .article-onboard__wrapper{
  display: flex;
  padding-top: 68px;
  margin: 0 -15px 0 -15px;
}

.Onboard .article-onboard__wrapper .Text {
  padding: 0 15px;  
} 

.Onboard .article-onboard__wrapper .Title {
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  padding: 0 15px 28px 15px;  
}
/*========================================================================================*/
/*RWD                                                                                     */
/*========================================================================================*/
@media(max-width: 991px) {
  .Onboard .article-onboard__wrapper {
    margin: 0;
  }
}
@media(max-width: 767px) {
  .Onboard {
    padding: 80px 0;
  }
  .Onboard .article-onboard__wrapper {
    flex-wrap: wrap;
  }

  .Onboard .article {
    width: 100%;
    margin-bottom: 50px;
  }

  .Onboard .article-onboard__wrapper .Title {
    padding-bottom: 10px;
  }
}