.Title {
  color: #222626;
  font-weight: 300;
  font-size: 2.188rem;
  line-height: 2.188rem;
  margin: 0;
}
/*========================================================================================*/
/*RWD                                                                                     */
/*========================================================================================*/
@media(max-width: 991px) {
  .Title {
    padding: 0 15px;
  }
}

@media(max-width: 767px) {
  .Title {
    font-size: 1.75rem;
  }
}